node_modules
# Keep environment variables out of version control
firebase-service-account.json

.env


/generated/prisma
firebase-service-account.json
.env
firebase-service-account.json
.env
first-choice-961d0-firebase-adminsdk-fbsvc-41f0bcb05f.json